.logo-img{
    width: 30vw;
    min-width: 60vh;
    position: absolute;
    z-index: 2;
    top:5%;
    cursor: url(../assets/cursor_click.png), auto;
}
.rotateLogo {
    animation: rotateLogo 3s;
}
@keyframes rotateLogo{
    from {
      transform: rotateY(0deg);
    } to {
      transform: rotateY(360deg);
    }
}
.start-img{
    position: absolute;
    width: 13vw;
    min-width: 20vh;
    z-index: 2;
    top: 80%;
    cursor: url(../assets/cursor_click.png), auto;
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}
.start-img:hover {
    -webkit-animation: false;
    -moz-animation: false;
    -o-animation: false;
    animation: false;
}
@keyframes flickerAnimation {
    0%, 100%   { filter: brightness(1); }
    50%  { filter: brightness(1.5); }
}
@-o-keyframes flickerAnimation{
    0%, 100%   { filter: brightness(1); }
    50%  { filter: brightness(1.5); }
}
@-moz-keyframes flickerAnimation{
    0%, 100%   { filter: brightness(1); }
    50%  { filter: brightness(1.5); }
}
@-webkit-keyframes flickerAnimation{
    0%, 100%   { filter: brightness(1); }
    50%  { filter: brightness(1.5); }
}