.char1{
    background-image: url("./assets/Background/char1.png");
    background-size:contain;
    background-repeat:no-repeat;
    position: absolute;
    height: 20vh;
    width:11.2vw;
    left: 6%;
    top: 45%;
    z-index: 2;
}
.char2{
    background-image: url("./assets/Background/char2.png");
    background-size:contain;
    background-repeat:no-repeat;
    position: absolute;
    height: 20vh;
    width: 19vh;
    left: 38%;
    top: 55%;
    z-index: 2;
}
.char3{
    background-image: url("./assets/Background/char3.png");
    background-size:contain;
    background-repeat:no-repeat;
    position: absolute;
    height: 15vh;
    width: 12vh;
    left: 60%;
    top: 55%;
    z-index: 2;
}
.char4{
    background-image: url("./assets/Background/char4.png");
    background-size:contain;
    background-repeat:no-repeat;
    position: absolute;
    height: 13vh;
    width: 15vh;
    left: 80%;
    top: 65%;
    z-index: 2;
}

.shake:hover {
    animation-name: shaking;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
  
    -webkit-animation-name: shaking;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 0.5s;
  
    -moz-animation-name: shaking;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 0.5s;
  
    -o-animation-name: shaking;
    -o-animation-timing-function: linear;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 0.5s;
}

@keyframes shaking {
    0%, 100% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    90% {
      transform: rotate(5deg);
    }
}
@-webkit-keyframes shaking {
    0%, 100% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    90% {
      transform: rotate(5deg);
    }
}
@-moz-keyframes shaking {
    0%, 100% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    90% {
      transform: rotate(5deg);
    }
}
@-o-keyframes shaking {
    0%, 100% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    90% {
      transform: rotate(5deg);
    }
}
.enlarge:hover {
    animation-name: enlarging;
    animation-iteration-count: infinite;
    animation-duration: 1s;
  
    -webkit-animation-name: enlarging;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
  
    -moz-animation-name: enlarging;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
  
    -o-animation-name: enlarging;
    -o-animation-iteration-count: infinite;
    -o-animation-duration: 1s;
}
@keyframes enlarging {
    0%, 100% {
      transform: scale(1)
    }
    5% {
      transform: scale(0.8)
    }
    60% {
      transform: scale(1.2)
    }
    70% {
      transform: scale(0.9)
    }
    80% {
      transform: scale(1.1)
    }
    90% {
      transform: scale(0.95)
    }
}
@-webkit-keyframes enlarging {
    0%, 100% {
      transform: scale(1)
    }
    5% {
      transform: scale(0.8)
    }
    60% {
      transform: scale(1.2)
    }
    70% {
      transform: scale(0.9)
    }
    80% {
      transform: scale(1.1)
    }
    90% {
      transform: scale(0.95)
    }
}
@-moz-keyframes enlarging {
    0%, 100% {
      transform: scale(1)
    }
    5% {
      transform: scale(0.8)
    }
    60% {
      transform: scale(1.2)
    }
    70% {
      transform: scale(0.9)
    }
    80% {
      transform: scale(1.1)
    }
    90% {
      transform: scale(0.95)
    }
}
@-o-keyframes enlarging {
    0%, 100% {
      transform: scale(1)
    }
    5% {
      transform: scale(0.8)
    }
    60% {
      transform: scale(1.2)
    }
    70% {
      transform: scale(0.9)
    }
    80% {
      transform: scale(1.1)
    }
    90% {
      transform: scale(0.95)
    }
}

.disappear{
    animation: disappear 3s;
    -webkit-animation: disappear 3s;
    -moz-animation: disappear 3s;
    -o-animation: disappear 3s;
}
@keyframes disappear {
    0%, 100%{
        transform: scale(1);
    }
    70% {
        transform: scale(2);
    }
    90% {
        transform: scale(0);
    }
}
@-webkit-keyframes disappear {
  0%, 100%{
      transform: scale(1);
  }
  70% {
      transform: scale(2);
  }
  90% {
      transform: scale(0);
  }
}
@-moz-keyframes disappear {
  0%, 100%{
      transform: scale(1);
  }
  70% {
      transform: scale(2);
  }
  90% {
      transform: scale(0);
  }
}
@-o-keyframes disappear {
  0%, 100%{
      transform: scale(1);
  }
  70% {
      transform: scale(2);
  }
  90% {
      transform: scale(0);
  }
}
.moveChar{
    animation: moveChar 3s;
    -webkit-animation: moveChar 3s;
    -moz-animation: moveChar 3s;
    -o-animation: moveChar 3s;
}
@keyframes moveChar {
    0%, 100%{
      left: 38%; top: 55%;
    }
    50% {
      transform: rotateY(180deg);
      left: 23%; top: 40%;
    }
}
@-webkit-keyframes moveChar {
  0%, 100%{
    left: 38%; top: 55%;
  }
  50% {
    transform: rotateY(180deg);
    left: 23%; top: 40%;
  }
}
@-moz-keyframes moveChar {
  0%, 100%{
    left: 38%; top: 55%;
  }
  50% {
    transform: rotateY(180deg);
    left: 23%; top: 40%;
  }
}
@-o-keyframes moveChar {
  0%, 100%{
    left: 38%; top: 55%;
  }
  50% {
    transform: rotateY(180deg);
    left: 23%; top: 40%;
  }
}
.popUp {
  animation: popUp 3s;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

  -webkit-animation: popUp 3s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

  -moz-animation: popUp 3s;
  -moz-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

  -o-animation: popUp 3s;
  -o-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
@-webkit-keyframes popUp {
  0%, 100%{
    transform: rotate(0deg) scale(1);
    left: 60%; top: 55%;
  }
  50% {
    transform: rotate(720deg) scale(5);
    left: 40%; top: 40%;
  }
}
@-moz-keyframes popUp {
  0%, 100%{
    transform: rotate(0deg) scale(1);
    left: 60%; top: 55%;
  }
  50% {
    transform: rotate(720deg) scale(5);
    left: 40%; top: 40%;
  }
}
@-o-keyframes popUp {
  0%, 100%{
    transform: rotate(0deg) scale(1);
    left: 60%; top: 55%;
  }
  50% {
    transform: rotate(720deg) scale(5);
    left: 40%; top: 40%;
  }
}
@keyframes popUp {
  0%, 100%{
    transform: rotate(0deg) scale(1);
    left: 60%; top: 55%;
  }
  50% {
    transform: rotate(720deg) scale(5);
    left: 40%; top: 40%;
  }
}
.rotateChar {
  animation: rotateChar 3s;

  -webkit-animation: rotateChar 3s;
  
  -moz-animation: rotateChar 3s;
  
  -o-animation: rotateChar 3s;
}
@keyframes rotateChar {
  0%{
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}
@-webkit-keyframes rotateChar {
  0%{
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}
@-moz-keyframes rotateChar {
  0%{
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}
@-o-keyframes rotateChar {
  0%{
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}